Django
djangorestframework
channels
channels-redis
django-cors-headers
pillow
redis
requests
python-decouple
gunicorn
whitenoise
psycopg2-binary
daphne
asgiref
sqlparse
typing-extensions
python-dotenv
django-extensions
pytest
pytest-django
